extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/download/John Doe") Open User File
  p 
    a(href="/static-video") Static Video
  p
    a(href="/stream-video") Stream Video
  p
    a(href="/stream-range-video") Stream Range Video
